html,body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
a,a:visited{
	color:inherit !important;
	text-decoration: none;
}
#logo{
	font-size:1.2em;
}
.no-margin{
	margin: 0px;
}
.be-red{
	background-color: #E74C3C;
}
.white{
	color: #ECF0F1;
}
.large-padding{
	padding: 8px 5px;
}
.menu{
	background-color: rgb(200,50,50);
}
.field{
	margin-top: 1em;
}
.form-control{
	border:none;
	border-bottom: 1px solid;
	outline: none;
	width:100%;
	display:block;
	padding:10px 0px;
	font-size: 1.2em;
}