html,body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
a,a:visited{
	color:inherit !important;
	text-decoration: none;
}
#logo{
	font-size:1.2em;
}
.menu{
	background-color: rgb(200,50,50);
}